/* Fonts */
@font-face {
    font-family: ginger-peachy;
    src: url(../fonts/ginger-peachy-nf.regular.ttf);
}


/* General */
html {
    min-width: 480px;
    background: #E9EAED;
    background-size: cover;
}

.white-background {
    background-color: white;
    background-size: cover;
}

#contentArea {
    display: block;
    background-color: #E9EAED;
    background-size: cover;
}


/* Top Navigation Bar */
#topNav {
    position: fixed;
    z-index: 1;
    background-color: #222;
}

#topNav a {
    color: white;
}

#topNav li>a:hover, li>a:focus {
    background-color: rgba(255, 255, 255, 0.3);
}


/* Welcome/Login Page */
#welcomeBackground {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url("http://pre09.deviantart.net/108b/th/pre/f/2010/146/a/0/forerunner_tile_by_invaderveex.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#welcomeMessage {
    position: relative;
    top: 39%;
    margin: auto;
    padding: 15px 0 25px 0;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
}

#welcomeMessage h1 {
    font-family: ginger-peachy;
    font-size: 60px;
    margin-bottom: 20px;
}

#welcomeMessage h1, a {
    color: white; 
}

#welcomeMessage li {
    margin: auto;
    padding-bottom: 12px;   
    width: 200px;
    text-overflow: clip;
}

#getStarted {
    top: 0;
}


/* Main Content Area */
#dataContainer {
    margin-top: 40px;
    height: auto;
    filter: alpha(opacity=0);
}

.data-item {
    background-color: white;
    box-shadow: 0px 0px 3px #888888;
}


/* Settings Page Contents (for screens/devices wider than 768px) */
.integration-list {
    border-width: thin;
    border-radius: 10px;
}

.integration-item {
    position: relative;
}

.integration-icon {
    float: left;
    min-width: 48px;
}

.integration-title {
    margin-top: 11px;   
}

.integration-title, .integration-description {
    float: left;
}

.integration-button-div {
    float: right; 
    overflow: hidden; 
    text-align: center;
    padding-left: 25px;
}

#integrationButton {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#integrationButton:hover {
    text-decoration: none;
}

#integrationButton span {
    padding: 15px;
    text-align: center;
}