@(entry: models.entries.Entry)

<!-- Pass in a single entry -->
<li class="uk-animation-slide-right uk-animation data-item">
    <article class="uk-article uk-width-9-10 uk-container-center">
        <br>
        <img class="uk-thumbnail uk-thumbnail-large" src="http://stream1.gifsoup.com/view1/1371188/poreotics-o.gif" alt="ME">
        <p class="uk-article-meta uk-margin-small-top">
            <b>
            via Facebook
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-16.png">
            at 11:30PM
            </b>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br>
    </article>
</li>

