@(provider: String)

<div style="margin-bottom: 25px; margin-left:5%; margin-right:5%">
    <!-- Defines the container for the bar chart -->
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box" style="background-color: white">
                <h3 class="uk-panel-title">@provider Statistics:</h3>
                This should be the plain text in the panel body here.
            </div>
        </div>
        <div class="uk-width-medium-2-3 uk-grid-margin" id="graphContainer@provider" style="height:600px"></div>
    </div>

    <!-- This script creates the bar chart -->
    <script type="text/javascript">
        var container = 'graphContainer' + '@provider' ;
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: container,
                type: 'column'
            },
            title: {
                text: '@provider'
            },
            xAxis: {
                categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                title: {
                    text: 'Fruit eaten'
                }
            },
            series: [{
                name: 'Jane',
                data: [1, 0, 4]
            }, {
                name: 'John',
                data: [5, 7, 3]
            }]
        });
    </script>

</div>