@(provider: String)


<div class="integration-button-div uk-width-medium-3-10 uk-container-center uk-vertical-align uk-margin-remove uk-padding-remove" style="min-width: 87px; float: right">

    @defining(Application.getLocalUser(session())) { user =>
        
        <!-- Check to see if there's any user at all, otherwise it will be null -->
        @if(user == null) {
            <a type="button" href="/authenticate/@provider" class="uk-width-1-1 uk-button-large uk-button-primary uk-margin-small" id="customButton">
                <span>Connect</span>
            </a>
        } else {
            <!-- If there is a local user, check if the user's linked with this provider -->
            @if(user.getAccountByProvider(provider) == null) { 
                <a type="button" href="/authenticate/@provider" class="uk-width-1-1 uk-button-large uk-button-primary uk-margin-small" id="customButton">
                    <span>Connect</span>
                </a>
            } else {
                @if(user.linkedAccounts.size() != 1) {
                    <a type="button" href="/deactivate/@provider" class="uk-width-1-1 uk-button-large uk-button-danger uk-margin-small" id="customButton">
                        <span>Disconnect</span>
                    </a>
                }
            }
        }
    }
    <!--<button class="uk-button uk-button-primary uk-width-4-5 uk-height-1-1" style="float:left" href="#" disabled>Enable</a>-->
</div>