<!-- Centering the displays for integrations --> 
<div class="uk-container-center uk-width-3-5 uk-margin-large-top uk-margin-medium-bottom">
    <ul class="uk-list uk-list-line integration-list">
        <li class="integration-item uk-container-center">
            <!-- Icon, title, and description -->
            <div class="uk-grid">
                <div class="uk-grid-collapse uk-width-medium-7-10">
                    <img class="integration-icon" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-48.png" alt="ME">
                    <div class="integration-title">
                        <h2 class="uk-text-bold uk-margin-bottom-remove">&nbsp;Facebook</h2>
                    </div>

                    <div class="integration-description uk-width-1-1 uk-margin-small-top uk-text-truncate">
                        Share photos and videos, send messages and get updates.
                    </div>
                </div>

                <!-- Button -->
                @integration_buttons("facebook")
            </div>
        </li>


        <li class="integration-item uk-container-center">
            <!-- Icon, title, and description -->
            <div class="uk-grid uk-margin-top">
                <div class="uk-grid-collapse uk-width-medium-7-10">
                    <img class="integration-icon" src="http://icons.iconarchive.com/icons/bokehlicia/pacifica/48/wunderlist-icon.png" alt="ME">
                    <div class="integration-title">
                        <h2 class="uk-text-bold uk-margin-bottom-remove">&nbsp;Wunderlist</h2>
                    </div>

                    <div class="integration-description uk-width-1-1 uk-margin-small-top uk-text-truncate">
                        Organize and share your to-do.
                    </div>
                </div>

                <!-- Button -->
                @integration_buttons("wunderlist")
            </div>
        </li>
    </ul>
</div>