

@main(title = "Welcome to Orwell!") {

    <!-- Welcome Message -->
    <div class="uk-height-viewport uk-text-center uk-container-center" id="welcomeBackground">
        <div id="welcomeMessage">
            <h1>Orwell</h1>
            <ul class="uk-nav" data-uk-scrollspy-nav="{closest:'li', smoothscroll: true}">
                <li>
                    <a href="#getStarted" class="uk-button uk-button-large uk-button-success" data-uk-smooth-scroll>Get Started</a>
                </li>
            </ul>
        </div>
    </div>
            

    <div class="uk-height-viewport uk-block uk-block-large" id="getStarted">
        @integrations()
    </div>
}

