@(pushEntry: entries.PushEntry)
@import java.text.SimpleDateFormat


<li class="uk-margin-small-top uk-animation-slide-right uk-animation data-item">
    <article class="uk-article uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-1-2">
                 <div class="uk-badge">@pushEntry.getPusherName()</div>
            </div>

            <div class="uk-width-1-2">
                <p class="uk-article-meta uk-text-right uk-margin-medium">
                    <b>
                        Pushed At: @(new SimpleDateFormat("h:mm a, MMM dd, yyyy").format(pushEntry.getStartTime()))
                    </b>
                </p>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-1">
                <h2 class="uk-article-title uk-margin-small">@pushEntry.getCommitMessage()</h2>
            </div>
        </div>

        <div class="uk-grid">
            <div class="uk-width-1-1">
                <b class="uk-article-meta uk-text-right uk-align-right">
                via GitHub
                    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="WL" width="20px">
                </b>
            </div>
        </div>
    </article>
</li>