
<nav class="uk-navbar" id="topNav">
    <a href="/" class="uk-navbar-brand uk-contrast">Orwell</a>

    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
<!--             Links will have a hand icon when hovered if href leads somewhere -->
            <li><a href="/"><i class="uk-icon-home"></i>&nbsp;Home</a></li>
            <li><a href="#"><i class="uk-icon-user"></i>&nbsp;Profile</a></li>
            <li><a href="#"><i class="uk-icon-cog"></i>&nbsp;Settings</a></li>
        </ul>
    </div>
</nav>