    
@defining(Application.getLocalUser(session())) { user=>
    @if(user == null){

    } else{
        <nav class="uk-navbar uk-width-1-1" id="topNav">

            <a href="/" class="uk-navbar-brand uk-contrast" style="font-family: ginger-peachy">Orwell</a>

            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
<!--                     Links will have a hand icon when hovered if href leads somewhere -->
                    <li><a href="/"><i class="uk-icon-home"></i>&nbsp;Home</a></li>
                    <li><a href="/accounts"><i class="uk-icon-user"></i>&nbsp;Accounts</a></li>
                    <li><a href="/logout"><i class="uk-icon-sign-out"></i>&nbsp;Log Out</a></li>
                </ul>
            </div>
        </nav>
    }
}